<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jm.plugins.demo.mapper.DictDataMapper">

    <select id="listDictDataByType" parameterType="java.lang.String" resultType="jm.plugins.demo.entity.DictData">
        select dict_type,
        dict_label,
        dict_value
        from sys_dict_data
        <where>
            <if test="list != null and list.size > 0">
                dict_type in
                <foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
                    #{item,jdbcType=VARCHAR}
                </foreach>
            </if>
        </where>
    </select>

</mapper>